<footer id="footer">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="footer">
            <h3 class="footer-title">Acerca de Nosotros</h3>
            <ul class="footer-links">
              <li><a href="https://www.google.com/maps/place/Seguro+Social+Universitario/@-19.5813492,-65.7571323,323m/data=!3m1!1e3!4m5!3m4!1s0x93f94e745a281e21:0x65a0aa91a7c4e815!8m2!3d-19.5812642!4d-65.7570912" target="_blank"><i class="fa fa-map-marker"></i>Dirección: Calama  Nº. 107</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>Teléfono: +591-2-6223227</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>Informaciones - Fichaje: +591-2-6223597</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>Emergencias - Clinica: +591-2-6224161</a></li>
              <li><a href="#"><i class="fa fa-envelope-o"></i>segurosocialuniversitario<br>ssupotosi.com.bo</a></li>
            </ul>
          </div>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Servicios</h3>
            <ul class="footer-links">
              <li><a href="./consulta_externa.html">Consulta Externa</a></li>
              <li><a href="#">Laboratorio Clínico</a></li>
              <li><a href="#">Imagenología</a></li>
              <li><a href="#">Enfermería</a></li>
              <li><a href="#">Farmacia</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">&nbsp;</h3>
            <ul class="footer-links">
              <li><a href="#">Fisioterapia</a></li>
              <li><a href="#">Ecografía</a></li>
              <li><a href="#">Internación Clínica y Quirúrgica</a></li>
              <li><a href="#">Afiliaciones</a></li>
              <li><a href="http://fichaje.ssupotosi.com.bo"><b>Fichaje En Linea</b></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="bottom-footer" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <span class="copyright">
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados - Seguro Social Universitario Potosí<br>
            <i class="fa fa-university" aria-hidden="true"></i> <a href="#" target="_blank" style="color: white;">S.S.U.P.</a>
            <br>Desarrollado por : 
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>