.carrucel{
  width:95vw;
  height: 400px;
  margin: auto;
  overflow: hidden;
  
}

.carrucel .carrucel-items{
   display: flex;
   animation: scroll 0.5s linear infinite;
   -webkit-animation: scroll 40s linear infinite;
   width: calc(200px* 10);
}
 


.carrucel-items{
    display: flex;
}
.carrucel-item img{
    width: 335px;
    height: 300px;
}
.carrusel-container {
    overflow: hidden;
  }
  
  .carrusel-item {
    flex: 0 0 auto;
    margin-right: 20px;
  }
  
  .carrusel-item img {
    width: 100px;
    height: auto;
  }
  
  
  