<div class="carrucel">
    <div class="carrucel-items" >
        <div class="carrucel-item">
            <img src="./assets/ambulancia.png" alt="">
            <h1>Emergecias</h1>
        </div>
        <div class="carrucel-item">
            <img src="./assets/farmacia.jpg" alt="">
            <h1>FARMACIA</h1>
        </div>
        <div class="carrucel-item">
            <img src="./assets/pediatria.jpg" alt="">
            <h1>PEDIATRIA</h1>
        </div>
        <div class="carrucel-item">
            <img src="./assets/emergencias.jpg" alt="">
            <h1>EMERGENCIAS</h1>
        </div>
        <div class="carrucel-item">
            <img src="./assets/medicina_gral.jpg" alt="">
            <h1>CONSULTA GENERAL</h1>
        </div>
        <div class="carrucel-item">
            <img src="./assets/ecografia.jpg" alt="">
            <h1>ECOGRAFIA</h1>
        </div>
        <div class="carrucel-item">
            <img src="./assets/laboratorio.jpg" alt="">
            <h1>LABORATORIO</h1>
        </div>
        <div class="carrucel-item">
            <img src="./assets/farmacia.jpg" alt="">
            <h1>FARMACIA</h1>
        </div>
        <div class="carrucel-item">
            <img src="./assets/ecografia.jpg" alt="">
            <h1>RADIOGRAFIA</h1>
        </div>
        <div class="carrucel-item">
            <img src="./assets/laboratorio.jpg" alt="">
            <h1>CUESTIONARIO COVID-19</h1>
        </div>
    </div>
</div>
