<div class="container">
    <h2>GESTIÓN 2021</h2>
    <div class="con">
        <li>
            <b>NORMATIVO EXTERNO</b>
            <ul><a href=""><img src="./assets/carpeta.png" alt=""></a>
            </ul>
            <b>Publicación 07/04/2021</b>
        </li>
    </div>
    <div class="con1">
        <li>
            <b>NORMATIVO INTERNO</b>
            <ul><a href=""><img src="./assets/carpeta.png" alt=""></a>
            </ul>
            <b>Publicación 07/04/2021</b>
        </li>
    </div>
    <div class="con2">
        <li>
            <b>REGLAMENTO INTERNO</b>
            <ul><a href=""><img src="./assets/carpeta.png" alt=""></a>
            </ul>
            <b>Publicación 07/04/2021</b>
        </li>
    </div>
 

</div>
