*{
    
    text-decoration: none;
}
.container h2{
    margin-left: 90px;
}
.con {
    margin-left: 90px;
}
.con1 {
    margin-left: 600px;
    margin-top: -120px;
}
.con2 {
    margin-left: 600px;
   
}