<div class="container">
    <h1>
        <u>ULTIMAS NOVEDADES Y CONSULTAS EXTERNAS</u>
    </h1>
    <p>Estimado usuario, le comunicamos que los enlaces para
        los diferentes servicios se encuentran <a href="#" style="color: crimson;">A CONTINUACION</a>
    </p>
        <div class="col-md-12">
            <div class="row">
              <div class="tab-pane active">    
                <div class="slick-list draggable"><div class="slick-track">
                    <div class="product-img">
                      <a href="https://view.genial.ly/5f34b3a4e648820d82f9a33d/interactive-content-tutorial-de-certificados-de-afiliaciones-y-no-afiliaciones" tabindex="-1">
                        <div class="shop">
                          <div class="shop-header">
                            <div class="shop-img"><img src="./assets/pdf.png" class="img-responsive"></div>
                          </div>
                          <div class="shop-body">
                            <h3><b><u>MANUAL</u><br>CERTIFICACIONES<br>EN LÍNEA</b></h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div><div class="product slick-slide slick-cloned" tabindex="-1" >
                    <div class="product-img">
                      <a href="http://certificaciones.ssupotosi.com.bo/verificar" tabindex="-1">
                        <div class="shop">
                          <div class="shop-header">
                            <div class="shop-img"><img src="./assets/pdf.png" class="img-responsive"></div>
                          </div>
                          <div class="shop-body">
                            <h3><b><u>MANUAL</u><br>RESERVA<br>DE FICHAS<br>EN LÍNEA</b></h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div><div class="product slick-slide" tabindex="-1" style="width: 233px;" data-slick-index="0" aria-hidden="true">
                    <div class="product-img">
                      <a href="http://fichaje.ssupotosi.com.bo/ssup_fichaje" tabindex="-1">
                        <div class="shop">
                          <div class="shop-header">
                            <div class="shop-img"><img src="./assets/ingreso.png" class="img-responsive"></div>
                          </div>
                          <div class="shop-body text-center">
                            <h3><b>INGRESO A<br>FICHAJE<br>EN LÍNEA</b></h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div><div class="product slick-slide" tabindex="-1" style="width: 233px;" data-slick-index="1" aria-hidden="true">
                    <div class="product-img">
                      <a href="http://certificaciones.ssupotosi.com.bo/persona/verificar" tabindex="-1">
                        <div class="shop">
                          <div class="shop-header">
                            <div class="shop-img"><img src="./assets/afiliaciones.png" class="img-responsive"></div>
                          </div>
                          <div class="shop-body">
                            <h3><b><u>CERTIFICADOS</u><br>AFILIACIÓN<br>NO AFILIACIÓN</b></h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div><div class="product slick-slide slick-current slick-active" tabindex="0" style="width: 233px;" data-slick-index="2" aria-hidden="false">
                    <div class="product-img">
                      <a href="http://covid.ssupotosi.com.bo:8081/ssup_covid19/web" tabindex="0">
                        <div class="shop">
                          <div class="shop-header">
                            <div class="shop-img"><img src="./assets/img-cuestionario.png" class="img-responsive"></div>
                          </div>
                          <div class="shop-body">
                            <h3><b><u>CUESTIONARIO</u><br>COVID - 19</b></h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div><div class="product slick-slide slick-active" tabindex="0" style="width: 233px;" data-slick-index="3" aria-hidden="false">
                    <div class="product-img">
                      <a href="./informes/solvencias/solvencia.pdf" tabindex="0">
                        <div class="shop">
                          <div class="shop-header">
                            <div class="shop-img"><img src="./assets/word.png" class="img-responsive"></div>
                          </div>
                          <div class="shop-body">
                            <h3><b><u>SOLVENCIAS</u><br>PARA<br>AFILIACIONES</b></h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div><div class="product slick-slide" tabindex="-1" style="width: 233px;" data-slick-index="4" aria-hidden="true">
                    <div class="product-img">
                      <a href="https://view.genial.ly/5f216cb2c43a880d757fafb0/interactive-content-manual-de-fichaje" tabindex="-1">
                        <div class="shop">
                          <div class="shop-header">
                            <div class="shop-img"><img src="./assets/pdf.png" class="img-responsive"></div>
                          </div>
                          <div class="shop-body">
                            <h3><b><u>MANUAL</u><br>ATENCIÓN<br>EN LÍNEA</b></h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div><div class="product slick-slide" tabindex="-1" style="width: 233px;" data-slick-index="5" aria-hidden="true">
                    <div class="product-img">
                      <a href="https://view.genial.ly/5f34b3a4e648820d82f9a33d/interactive-content-tutorial-de-certificados-de-afiliaciones-y-no-afiliaciones" tabindex="-1">
                        <div class="shop">
                          <div class="shop-header">
                            <div class="shop-img"><img src="./assets/pdf.png" class="img-responsive"></div>
                          </div>
                          <div class="shop-body">
                            <h3><b><u>MANUAL</u><br>CERTIFICACIONES<br>EN LÍNEA</b></h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div><div class="product slick-slide" tabindex="-1" style="width: 233px;" data-slick-index="6" aria-hidden="true">
                    <div class="product-img">
                      <a href="http://certificaciones.ssupotosi.com.bo/verificar" tabindex="-1">
                        <div class="shop">
                          <div class="shop-header">
                            <div class="shop-img"><img src="./assets/pdf.png" class="img-responsive"></div>
                          </div>
                          <div class="shop-body">
                            <h3><b><u>MANUAL</u><br>RESERVA<br>DE FICHAS<br>EN LÍNEA</b></h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div><div class="product slick-slide slick-cloned" tabindex="-1" style="width: 233px;" data-slick-index="7" aria-hidden="true">
                    <div class="product-img">
                      <a href="http://fichaje.ssupotosi.com.bo/ssup_fichaje" tabindex="-1">
                        <div class="shop">
                          <div class="shop-header">
                            <div class="shop-img"><img src="./assets/ingreso.png" class="img-responsive"></div>
                          </div>
                          <div class="shop-body text-center">
                            <h3><b>INGRESO A<br>FICHAJE<br>EN LÍNEA</b></h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div><div class="product slick-slide slick-cloned" tabindex="-1" style="width: 233px;" data-slick-index="8" aria-hidden="true">
                    <div class="product-img">
                      <a href="http://certificaciones.ssupotosi.com.bo/persona/verificar" tabindex="-1">
                        <div class="shop">
                          <div class="shop-header">
                            <div class="shop-img"><img src="./assets/afiliaciones.png" class="img-responsive"></div>
                          </div>
                          <div class="shop-body">
                            <h3><b><u>CERTIFICADOS</u><br>AFILIACIÓN<br>NO AFILIACIÓN</b></h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  
              </div>
              <!-- /tab -->
            </div>
        </div>
</div>
