.container{
    width:90vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}


.cabeza h4{
    margin-left: 50px;
    text-decoration: underline;
}
.cabeza a {
    background-color: crimson;
    color: black;
    text-decoration: none;
    margin-left: 50px;
    
    
}
.doctores{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    text-align: center;
    width:70vw;
}

.personA{
    width: min-content;
    height: min-content;
    box-shadow: 0 0 0 16px navy;
    margin: 16px 32px;
    border-top-left-radius: 16px 16px;
}

.personA img{
    width: 240px;
    height: 270px;
}

.personB{
    width: min-content;
    height: min-content;
    box-shadow: 0 0 0 16px crimson;
    margin: 16px 32px;
    border-top-left-radius: 16px 16px;
    
}

.personB img{
    width: 240px;
    height: 270px;
}
