<app-header></app-header>
<app-baner></app-baner>
<br>
<div class="container">
  <div class="cabeza">
    <h4>AUTORIDADES</h4>
    <a href="#">conoscamos a nuestros autoridades ingresando al enlace</a>
  </div>
  <h2 style="font-family: 'Montserrat', sans-serif; font-weight: 20;">
    <i class="fas fa-user-md"></i>Contamos con médicos especialistas preparados al servicio de la sociedad
  </h2>
  <div class="doctores">

    <div class="personA">
      <div class="image">
        <img src="./assets/jerson_arancibia.jpg" alt="Jerson Arancibia">
      </div>
      <div class="info">
        <h3 style="font-weight: 20;">JERSON ARANCIBIA</h3>
        <p>GESTOR DE CALIDAD</p>
      </div>
    </div>

    <div class="personB">
      <div class="clearfix">
        <img src="./assets/elena_bravo.jpg" alt="Elena Bravo">
        <div class="widget-title">
          <h3 style="font-weight: 20;">ELENA BRAVO</h3>
          <p>MÉDICO GENERAL EST.</p>
        </div>
      </div>
    </div>

    <div class="personB">
      <div class="clearfix">
        <img src="./assets/grinez_rocio.jpg" alt="Grinez Rocio">
        <div class="widget-title">
          <h3 style="font-weight: 20;">GRINEZ ROCIO</h3>
          <p>MÉDICO CENTINELA</p>
        </div>
      </div>
    </div>

    <div class="personB">
      <div class="clearfix">
        <img src="./assets/melva_magne.jpg" alt="Melva Magne">
        <div class="widget-title">
          <h3 style="font-weight: 20;">MELVA MAGNE</h3>
          <p>REGENTE DE FARMACIA</p>
        </div>
      </div>
    </div>

    <div class="personA">
      <div class="clearfix">
        <img src="./assets/alfredo_acha.jpeg" alt="Alfredo Acha">
        <div class="widget-title">
          <h3 style="font-weight: 20;">ALFREDO ACHA</h3>
          <p>MÉDICO GENERAL</p>
        </div>
      </div>
    </div>

    <div class="personA">
      <div class="clearfix">
        <img src="./assets/erick_lennis.png" alt="Erick Lennis">
        <div class="widget-title">
          <h3 style="font-weight: 20;">ERCIK LENNIS</h3>
          <p>MÉDICO PEDiATRA</p>
        </div>
      </div>
    </div>

    <div class="personA">
      <div class="clearfix">
        <img src="./assets/oscar_lafuente.png" alt="Oscar Lafuente">
        <div class="widget-title">
          <h3 style="font-weight: 20;">OSCAR LA FUENTE</h3>
          <p>MEDICO GENERAL</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<app-ultimo></app-ultimo>
<app-footer></app-footer>