body {
    background-color: #333;
    margin: 0%;
    padding: 0%;
  }
  
  .organigrama {
    margin: 0px;
    padding: 0px;
    align-self: center;
  }
  
  .organigrama ul {
    padding-top: 10px;
    position: relative;
  }
  
  .organigrama li {
    float: left;
    text-align: center;
    list-style-type: none;
    padding: 10px 3px 0px 3px;
    position: relative;
  }
  
  .organigrama li::before, .organigrama li::after {
    content: '';
    position: absolute;
    top: 0px;
    right: 50%; 
    border-top: 2px solid #cb3234;
    width: 50%;
    height: 10px;
  }
  
  .organigrama li::after{
      right: auto;
        left: 50%;
      border-left: 1px solid #cb3234;
  }
  
  .organigrama li:only-child::before, .organigrama li:only-child::after {
      display: none;
  }
  
  .organigrama li:only-child {
    padding-top: 0;
  }
  
  .organigrama li:first-child::before, .organigrama li:last-child::after{
      border: 0 none;
  }
  
  .organigrama li:last-child::before{
    border-right: 1px solid #cb3234;
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
  }
  
  .organigrama li:first-child::after{
    border-radius: 3px 0 0 0;
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
  }
  
  .organigrama ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #cb3234;
    width: 0;
    height: 10px;
  }
  
  .organigrama li a {
    border: 1px solid #cb3234;
    padding: 1em 0.75em;
    text-decoration: none;
    color: #333;
    background-color: rgba(255,255,255,0.5);
    font-family: arial, verdana, tahoma;
    font-size: 0.82em;
    display: inline-block;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
  }
  
  .organigrama li a:hover {
    border: 2px solid #cb3234;
    color: #fff;
    background-color: #102c54;
    display: inline-block;
  }
  
  .organigrama > ul > li > a {
    font-size: 0.82em;
    font-weight: bold;
  }
  
  .organigrama > ul > li > ul > li > a {
    width: 10em;
  }