<app-header></app-header>
<div class="section">
    <!-- container -->
    <div class="container">
      <h2 class="text-center" style="text-align: center;"><u>DIRECTORIO</u></h2>
      <div class="organigrama" style="width: 100%;">
        <ul>
          <li>
            <a href="#">Presidente: Dr. Ing. Pedro Guido LOPEZ CORTES</a>
            <ul>
            <li><a href="#">Director Sector Docente:  </a></li>		   <li><a href="#">Director Sector Administrativo: </a></li>
            <li><a href="#">Director Sector Pasivo: Dr. José Alfredo LENIS PORCEL</a></li>
            <li><a href="#">Gerente General: Lic. Guido Anagua Villafuerte</a></li>
            <li><a href="#">Secretario Directorio: Abog. Juan M. CABRERA BUSTILLOS</a></li>
                
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- /container -->
</div>
