<div id="top-header">
    <div class="container">
        <ul class="header-links">
            <li>
                <a href="tel:26224161">
                    <i class="fa fa-phone"></i>
                    Emergecias +591-2-6224161
                </a>
            </li>
            <li>
                <a href="mail:a segurosocialluniversitario@ssupotosi.com.bo">
                    <i class="fa fa-envelope"></i>
                    "segurosocialluniversitario@ssupotosi.com.bo"
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-map-marker"></i>
                    "Calle Calama N° 107"
                </a>
            </li>
        </ul>

    </div>
</div>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="header-logo">
                    <a href="#" class="logo">
                        <img src="./assets/logo.png" style="width: 100px; height:95px;" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="header-logo">
                    <a href="#" class="logo" style="align-content: center;">
                      <h1 class="text-center">
                        <br>
                        <b style="color: navy; font-size: 40px; ">SEGURO SOCIAL UNIVERSITARIO POTOSI</b>
                      </h1>
                    </a>
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="header-logo">
                    <a href="#" class="logo-1">
                        <img src="./assets/Escudo_de_Bolivia.png"style="width: 101px; height=101px" alt="">
                    </a>
                </div>
                <div class="header-ctn">
                    <a href="convocatorias.php" target="_blank">
                        <img src="./assets/convocatorias-ico-final.jpg" style="width: 128px; height: 128px;" alt="">
                    </a>
                </div>
                <div class="header-c">
                    <a href="http://fichaje.ssupotisi.com.bo/">
                        <marquee behavior="Alternate">
                            <i class="fas fa-spinner" style="color: red;"></i>
                        </marquee>
                        <span class="bg-red" style="color: red;">
                            <b class="agrandar" style="columns: navy; color: navy;">
                            <marquee behavior="ALTERNATE">Reservas</marquee></b>
                        
                        </span>
                    </a>
                </div>
                <div class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        <marquee behavior="ALTERNATE" >
                            <I class="fa fa-bell" style="color: crimson;"></I>
                            <span class="text-primary" style="color: crimson;">
                                <b>Siguenos</b>
                            </span>
                        </marquee>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navegation">
    <div id="header-nav">
        <ul class="navi">
            <li><a href="#" routerLink="/inicio" style="color: red;">Inicio</a></li>

            <li><a href="#">Institucional</a>
                <ul>
                    <li><a href="#" routerLink="/datos">Datos Generales</a></li>
                    <li><a href="#" routerLink="/geografica">Situacion Geografica</a></li>
                    <li><a href="#" routerLink="/ejecutivo">Plantel Ejecutivo</a></li>
                    <li><a href="#" routerLink="/estructura">Estructura Organica</a></li>
                    <li><a href="#" routerLink="/directorio">Directorio</a></li>
                </ul>
            </li>
            <li><a href="#">Servicios</a>
                <ul>
                    <li><a href="#">Consultas externas</a></li>
                    <li><a href="#">Laboratorio CLienico</a></li>
                    <li><a href="#">Imageneologia</a></li>
                    <li><a href="#">Enfermeria</a></li>
                    <li><a href="#">Farmacia</a></li>
                    <li><a href="#">Fisioterapia</a></li>
                    <li><a href="#">Ecografia</a></li>
                    <li><a href="#">Farmacia</a></li>
                    <li><a href="#">Internacion Clinica y Quirurgica</a></li>
                    <li><a href="#">Afiliaciones</a></li>
                    <li><a href="#" style="color: navy;">Fichaje</a></li>
                </ul>
            </li>
            <li><a href="#">Personal de Salud</a>
                <ul>
                    <li><a href="#">Administrativo</a></li>
                    <li><a href="#">Médico</a></li>
                </ul>
            </li>
            <li><a href="#">Contrataciones</a>
                <ul>
                    <li><a href="#">Menor</a></li>
                    <li><a href="#">Anpe</a></li>
                    <li><a href="#">Licitacion Publica</a></li>
                    <li><a href="#">Por Excepcion</a></li>
                    <li><a href="#">Por desatres y/o Emergencias</a></li>
                    <li><a href="#">Directa</a></li>
                </ul>
            </li>
            <li><a href="#">Transparencia</a>
                <ul>
                    <li><a href="#">Asesoria Legal</a></li>
                    <li><a href="#">HIstorial de Avisos</a></li>
                    <li><a href="#">Recursos Humanos</a></li>
                    <li><a href="#">Auditoria</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<a routerLink="">Main</a>
<a routerLink="/lista">Lista</a>




