<app-herd></app-herd>
<div class="container">
    <h2>Informes de Auditoría</h2>
    <h2>Gestión 2024</h2>
    <div class="panel-group"> <!-- 2024 -->


        <div class="panel panel-primary">
            <div class="panel-heading">Resumen Ejecutivo </div>
            <div class="panel-body">
                Resumen Ejecutivo del Primer Seguimiento al Informe INF.UAI. N001/2022 "Auditoria de Confiabilidad
                de los Registros Contables y Estados Financieros Gestión 2021"
                <a href="informes/archivos_auditoria/2024/re.primer.seguimiento.pdf" target="_blank"><span
                        style="font-size: 12px;"><b>Descargar<img src="images/iconos/pdf-solid.png" width="32px"
                                height="32px"></b></span></a>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Resumen Ejecutivo </div>
            <div class="panel-body">
                Resumen Ejecutivo del Informe de Auditoria Interna Nº TUAI 01/2024, Sobre la Confiabilidad de
                Registros, y los Aspectos de Control Interno Relacionados, Emergentes de la Auditoría de
                Confiabilidad de Registros y Estados Financieros del Seguro Social Universitario Potosí, Gestión
                2023
                <a href="informes/archivos_auditoria/2024/re.informe.auditoria.pdf" target="_blank"><span
                        style="font-size: 12px;"><b>Descargar<img src="images/iconos/pdf-solid.png" width="32px"
                                height="32px"></b></span></a>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Resumen Ejecutivo </div>
            <div class="panel-body">
                Informe de Auditoría Interna Nº IUAI 02/2024, correspondiente al examen sobre LA CONFIABILIDAD DE
                ESTADOS FINANCIEROS, Y LOS ASPECTOS DE CONTROL INTERNO RELACIONADOS, EMERGENTES DE LA AUDITORÍA DE
                CONFIABILIDAD DE ESTADOS FINANCIEROS DEL SEGURO SOCIAL UNIVERSITARIO POTOSÍ AL 31 DE DICIEMBRE DE
                2023”
                <a href="informes/archivos_auditoria/2024/re.confiabilidadEEFF.pdf" target="_blank"><span
                        style="font-size: 12px;"><b>Descargar<img src="images/iconos/pdf-solid.png" width="32px"
                                height="32px"></b></span></a>
            </div>
        </div>

    </div> <!-- FIN 2024 -->


    <h2>Gestión 2023</h2>
    <div class="panel-group"> <!-- 2023 -->


        <div class="panel panel-primary">
            <div class="panel-heading">Resumen Ejecutivo EEFF 2022 </div>
            <div class="panel-body">
                Resumen Ejecutivo – Confiabilidad EEFF Gestión 2022
                <a href="informes/archivos_auditoria/2023/re.confiabilidad-EEFF2022.pdf" target="_blank"><span
                        style="font-size: 12px;"><b>Descargar<img src="images/iconos/pdf-solid.png" width="32px"
                                height="32px"></b></span></a>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Resumen Ejecutivo Registros 2022 </div>
            <div class="panel-body">
                Resumen Ejecutivo – Confiabilidad Registros Gestión 2022
                <a href="informes/archivos_auditoria/2023/re.confiabilidad.registros2022.pdf" target="_blank"><span
                        style="font-size: 12px;"><b>Descargar<img src="images/iconos/pdf-solid.png" width="32px"
                                height="32px"></b></span></a>
            </div>
        </div>

    </div> <!-- FIN 2023 -->



    <h2>Gestión 2022</h2>
    <div class="panel-group">
        <!-- olvidado -->

        <div class="panel panel-primary">
            <div class="panel-heading">Resumen Ejecutivo POA 2023 </div>
            <div class="panel-body">
                Resumen Ejecutivo – Programa Operativo Anual Gestión 2023
                <a href="informes/archivos_auditoria/2022/R.E.%20POA%202023.pdf" target="_blank"><span
                        style="font-size: 12px;"><b>Descargar<img src="images/iconos/pdf-solid.png" width="32px"
                                height="32px"></b></span></a>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">R.E. Seguimiento Confiabilidad 2018 </div>
            <div class="panel-body">
                Primer seguimiento al informe de control interno INF.UAI. N°002/2019 - auditoria de confiabilidad de
                los registros y estados financieros gestión 2018
                <a href="informes/archivos_auditoria/2022/R.E.%20seg%20conf%202018.pdf" target="_blank"><span
                        style="font-size: 12px;"><b>Descargar<img src="images/iconos/pdf-solid.png" width="32px"
                                height="32px"></b></span></a>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Resumen Ejecutivo DJBR 2019</div>
            <div class="panel-body">
                Informe de Auditoría Interna N° UAI 004/2021, correspondiente a la Auditoria al Procedimiento para
                el cumplimiento de las declaraciones Juradas de Bienes y Rentas (PCO-DJBR) gestión 2019.
                <a href="informes/archivos_auditoria/2022/RE-DJBR-2019.pdf" target="_blank"><span
                        style="font-size: 12px;"><b>Descargar<img src="images/iconos/pdf-solid.png" width="32px"
                                height="32px"></b></span></a>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Resumen Ejecutivo</div>
            <div class="panel-body">
                Informe del Pronunciamiento sobre el cumplimiento del procedimiento específico para el control y
                conciliación de los datos liquidados en las planillas salariales y los registros individuales de
                cada servidor público gestión 2019, 2020 y 2021 del Seguro Social Universitario Potosí
                <a href="informes/archivos_auditoria/2022/res-doble-percepcion.pdf" target="_blank"><span
                        style="font-size: 12px;"><b>Descargar<img src="images/iconos/pdf-solid.png" width="32px"
                                height="32px"></b></span></a>
            </div>
        </div>


        <div class="panel panel-primary">
            <div class="panel-heading">Resumen Ejecutivo</div>
            <div class="panel-body">
                Informe de Pronunciamiento sobre la evaluación al procedimiento para el cumplimiento oportuno de la
                Declaración Jurada de Bienes y Rentas (PCO-DJBR) gestión 2020 y 2021 del Seguro Social Universitario
                Potosí
                <a href="informes/archivos_auditoria/2022/res-ejec-djbr.pdf" target="_blank"><span
                        style="font-size: 12px;"><b>Descargar<img src="images/iconos/pdf-solid.png" width="32px"
                                height="32px"></b></span></a>
            </div>
        </div>


        <div class="panel panel-primary">
            <div class="panel-heading">Resumen Ejecutivo</div>
            <div class="panel-body">
                INF. U.A.I. Nº 001/2022
                <a href="informes/archivos_auditoria/2022/resumen-01-2022.pdf" target="_blank"><span
                        style="font-size: 12px;"><b>Descargar<img src="images/iconos/pdf-solid.png" width="32px"
                                height="32px"></b></span></a>
            </div>
        </div>



        <div class="panel panel-primary">
            <div class="panel-heading">Resumen Ejecutivo</div>
            <div class="panel-body">
                Auditoría de confiabilidad - Periodo 2021
                <a href="informes/archivos_auditoria/2022/informe-uai-01-2022.pdf" target="_blank"><span
                        style="font-size: 12px;"><b>Descargar<img src="images/iconos/pdf-solid.png" width="32px"
                                height="32px"></b></span></a>
            </div>
        </div>

    </div>

</div>






