<app-herd></app-herd>
<div class="service-time" style="padding: 4px;  text-align: justify;">
    <h3 style="color: crimson; text-align: center;">
        <b>
            <u>UBICACIÓN GEOGRÁFICA</u>
        </b>
    </h3>
    <p align="justify"> El 
        <a href="http://ssupotosi.com.bo/">
            <b style="color: navy;">
                <i>
                    <u>Seguro Social Universitario de Potosí</u>
                 </i>
            </b>
        </a>, se encuentra ubicada en la capital del departamento de 
        <a href="https://es.wikipedia.org/wiki/Potos%C3%AD">
            <b>
                <i>
                    <u>Potosí</u>
                </i>
            </b>
        </a>
    ; la clínica está ubicada en la calle Calama  Nº 107 en la zona central de la ciudad. </p>
    <div class="maps"> 
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4470.325693847659!2d-65.75816729843494!3d-19.58103657212243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93f94e745a281e21%3A0x65a0aa91a7c4e815!2sSeguro+Social+Universitario!5e0!3m2!1ses!2sbo!4v1560462106602!5m2!1ses!2sbo" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>
</div>
<app-footer></app-footer>



