.container h2{
    justify-content: center;
    margin-left: 350px;
    text-decoration: underline;
}
h4 {
    margin-left: 400px;
    text-decoration: underline;
}
img {
    width: 750px;
    height: 500px;
    margin-left: 250px;
}
b {
    margin-left: 500px;
}