<div class="container">
    <h2>HISTORIAL DE PUBLICACIONES E INIVTACIONES 2021</h2>
    <ul>
        <h4>AUDIENCIA DE RENDICIÓN PUBLICA DE CUENTAS FINAL 2020</h4>
        <a href="">
            <img src="./assets/invitacion.png" alt="">
        </a>
        <br>
        <b>Publicacion 15/02/2021</b>
    </ul>
    <ul>
        <h4>AUDIENCIA DE RENDICIÓN PUBLICA DE CUENTAS INICIAL 2021</h4>
        <a href="">
            <img src="./assets/invitacion.png" alt="">
        </a>
        <br>
        <b>Publicacion 25/03/2021</b>
    </ul>

</div>
