<h1 class="letra">
    <u>ULTIMAS NOVEDADES Y CONSULTAS EXTERNAS</u>
  </h1>
  <p>Estimado usuario, le comunicamos que los enlaces para
    los diferentes servicios se encuentran <a href="#" style="color: crimson;">A CONTINUACION</a>
  </p>
  <div class="container">
   
            <div class="product">
              <div class="product-img">
                <a href="http://fichaje.ssupotosi.com.bo/ssup_fichaje">
                  <div class="shop">
                    <div class="shop-header">
                      <div class="shop-img"><img src="./assets/ingreso.png" class="img-responsive1"></div>
                    </div>
                    <div class="shop-body text-center">
                      <h3><b>INGRESO A<br>FICHAJE<br>EN LÍNEA</b></h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="product">
              <div class="product-img">
                <a href="http://certificaciones.ssupotosi.com.bo/persona/verificar">
                  <div class="shop">
                    <div class="shop-header">
                      <div class="shop-img"><img src="./assets/afiliaciones.png" class="img-responsive2"></div>
                    </div>
                    <div class="shop-body">
                      <h3><b><u>CERTIFICADOS</u><br>AFILIACIÓN<br>NO AFILIACIÓN</b></h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="product">
              <div class="product-img">
                <a href="http://covid.ssupotosi.com.bo:8081/ssup_covid19/web">
                  <div class="shop">
                    <div class="shop-header">
                      <div class="shop-img"><img src="./assets/img-cuestionario.png" class="img-responsive3"></div>
                    </div>
                    <div class="shop-body">
                      <h3><b><u>CUESTIONARIO</u><br>COVID - 19</b></h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="product">
              <div class="product-img">
                <a href="./informes/solvencias/solvencia.pdf">
                  <div class="shop">
                    <div class="shop-header">
                      <div class="shop-img"><img src="./assets/word.png" class="img-responsive4"></div>
                    </div>
                    <div class="shop-body">
                      <h3><b><u>SOLVENCIAS</u><br>PARA<br>AFILIACIONES</b></h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="product">
              <div class="product-img">
                <a href="https://view.genial.ly/5f216cb2c43a880d757fafb0/interactive-content-manual-de-fichaje">
                  <div class="shop">
                    <div class="shop-header">
                      <div class="shop-img"><img src="./assets/pdf.png" class="img-responsive5"></div>
                    </div>
                    <div class="shop-body">
                      <h3><b><u>MANUAL</u><br>ATENCIÓN<br>EN LÍNEA</b></h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="product">
              <div class="product-img">
                <a href="https://view.genial.ly/5f34b3a4e648820d82f9a33d/interactive-content-tutorial-de-certificados-de-afiliaciones-y-no-afiliaciones">
                  <div class="shop">
                    <div class="shop-header">
                      <div class="shop-img"><img src="./assets/pdf.png" class="img-responsive6"></div>
                    </div>
                    <div class="shop-body">
                      <h3><b><u>MANUAL</u><br>CERTIFICACIONES<br>EN LÍNEA</b></h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            
            <div class="product">
              <div class="product-img">
                <a href="http://certificaciones.ssupotosi.com.bo/verificar">
                  <div class="shop">
                    <div class="shop-header">
                      <div class="shop-img"><img src="./assets/pdf.png" class="img-responsive7"></div>
                    </div>
                    <div class="shop-body">
                      <h3><b><u>MANUAL</u><br>RESERVA<br>DE FICHAS<br>EN LÍNEA</b></h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
  </div> 
  <div id="about" class="section wow fadeIn">
  <div class="container">
  <div class="heading">
  <h2>Brindando los mejores servicios</h2>
  </div>
  <div class="row">
  <div class="col-md-6">
    <div class="message-box">
      <h5 class="text-justify">Servicio de ambulancia las 24 Hrs. de la semana
        <br>
        Les brindamos los mejores servicios y médicos para su confort con calidad y calidez.
        <br>
        24/7 la formula perfecta al servicio de nuestos asegurados y la población en general.
        <br>
        Las 24 horas y los 7 días de la semana, en caso de necesitarnos llamar al 
        
      </h5>
    </div>
  </div>
  <div class="calis">
      <div class="products-slick" data-nav="#slick-nav-1">
      <div class="">
        <div>
          <div class="">
            <div class="img"><img src="assets/ambulancia.png" style="width:100%;"></div>
          </div>
        </div>
      </div>
      <div class="">
        <div>
          <div class="">
            <div class="img"><img src="assets/emergencias.jpg" style="width: 100%;"></div>
          </div>
        </div>
      </div>
      <div class="">
        <div>
          <div class="">
            <div class="img"><img src="assets/medicina_gral.jpg" style="width: 100%;"></div>
          </div>
        </div>
      </div>
      <div class="">
        <div>
          <div class="">
            <div class="img"><img src="assets/ecografia.jpg" style="width: 100%;"></div>
          </div>
        </div>
      </div>
      <div class="">
        <div>
          <div class="">
            <div class="img"><img src="assets/laboratorio.jpg" style="width: 100%;"></div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="">
          <a href="http://covid.ssupotosi.com.bo/ssup_covid19/web">
            <div class="">
              <div class="img"><img src="assets/farmacia.jpg" style="width: 100%;"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div> 